USE [master]
GO
/****** Object:  Database [Chinese_Sale]    Script Date: 14/05/2026 19:18:53 ******/
CREATE DATABASE [Chinese_Sale]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Chinese_Sale', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Chinese_Sale.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Chinese_Sale_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Chinese_Sale_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Chinese_Sale].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Chinese_Sale]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 14/05/2026 19:18:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Baskets]    Script Date: 14/05/2026 19:18:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Baskets](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[giftId] [int] NOT NULL,
	[amount] [int] NOT NULL,
	[userId] [int] NOT NULL,
 CONSTRAINT [PK_Baskets] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 14/05/2026 19:18:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Categories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Doners]    Script Date: 14/05/2026 19:18:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Doners](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[Phone] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_Doners] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Gifts]    Script Date: 14/05/2026 19:18:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Gifts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](300) NOT NULL,
	[Price] [int] NOT NULL,
	[DonerId] [int] NOT NULL,
	[ImagePath] [nvarchar](100) NOT NULL,
	[CategoryId] [int] NOT NULL,
	[WinnerId] [int] NULL,
 CONSTRAINT [PK_Gifts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Purchases]    Script Date: 14/05/2026 19:18:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Purchases](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CustomerId] [int] NOT NULL,
	[GiftId] [int] NOT NULL,
	[PurchaseDate] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Purchases] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 14/05/2026 19:18:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Password] [nvarchar](70) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[Phone] [nvarchar](15) NOT NULL,
	[Role] [int] NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20251218104904_InitialCreate', N'8.0.22')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20251218105646_InitialCreate1', N'8.0.22')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20251221121434_NameGiftIsUniq', N'8.0.22')
GO
SET IDENTITY_INSERT [dbo].[Baskets] ON 

INSERT [dbo].[Baskets] ([Id], [giftId], [amount], [userId]) VALUES (154, 2, 5, 8)
INSERT [dbo].[Baskets] ([Id], [giftId], [amount], [userId]) VALUES (155, 1, 2, 8)
INSERT [dbo].[Baskets] ([Id], [giftId], [amount], [userId]) VALUES (183, 4, 1, 8)
SET IDENTITY_INSERT [dbo].[Baskets] OFF
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([Id], [Name]) VALUES (2, N'חופשות')
INSERT [dbo].[Categories] ([Id], [Name]) VALUES (1, N'מכשירי חשמל')
INSERT [dbo].[Categories] ([Id], [Name]) VALUES (3, N'שונות')
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[Doners] ON 

INSERT [dbo].[Doners] ([Id], [Name], [Email], [Phone]) VALUES (1, N'אילה', N'a0583234890@gmail.com', N'0583234890')
INSERT [dbo].[Doners] ([Id], [Name], [Email], [Phone]) VALUES (2, N'לאה', N'l0583202166@gmail.com', N'0583202166')
INSERT [dbo].[Doners] ([Id], [Name], [Email], [Phone]) VALUES (3, N'חני', N'ck0548544421@gmail.com', N'0548544421')
SET IDENTITY_INSERT [dbo].[Doners] OFF
GO
SET IDENTITY_INSERT [dbo].[Gifts] ON 

INSERT [dbo].[Gifts] ([Id], [Name], [Description], [Price], [DonerId], [ImagePath], [CategoryId], [WinnerId]) VALUES (1, N'מקרר', N'גדול וחזק', 30, 1, N'frezzer.jpg', 1, 6)
INSERT [dbo].[Gifts] ([Id], [Name], [Description], [Price], [DonerId], [ImagePath], [CategoryId], [WinnerId]) VALUES (2, N'מיטה', N'חדר שינה מהחלומות ', 10, 1, N'Bed.jpg', 1, 6)
INSERT [dbo].[Gifts] ([Id], [Name], [Description], [Price], [DonerId], [ImagePath], [CategoryId], [WinnerId]) VALUES (3, N'מזגן', N'חזק עם 4 כוח סוס', 10, 1, N'AirConditioner.jpg', 1, 6)
SET IDENTITY_INSERT [dbo].[Gifts] OFF
GO
SET IDENTITY_INSERT [dbo].[Purchases] ON 

INSERT [dbo].[Purchases] ([Id], [CustomerId], [GiftId], [PurchaseDate]) VALUES (1, 6, 6, CAST(N'2026-02-02T15:20:36.3139352' AS DateTime2))
INSERT [dbo].[Purchases] ([Id], [CustomerId], [GiftId], [PurchaseDate]) VALUES (2, 6, 6, CAST(N'2026-02-02T15:20:36.7331729' AS DateTime2))
INSERT [dbo].[Purchases] ([Id], [CustomerId], [GiftId], [PurchaseDate]) VALUES (3, 6, 6, CAST(N'2026-02-02T15:20:36.7557936' AS DateTime2))
GO
SET IDENTITY_INSERT [dbo].[Purchases] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [Password], [Name], [Email], [Phone], [Role]) VALUES (1, N'$2a$11$PWDJ7HECPNlhDwqQiWBff.YZr8Yj8ycmC5NFGRU0UIenXgZYA7F92', N'Avigail', N'a0548564080@gmail.com', N'0548564080', 1)
INSERT [dbo].[Users] ([Id], [Password], [Name], [Email], [Phone], [Role]) VALUES (2, N'$2a$11$vVGpOp3V4KbpIxsRnvKWpObjiAqhG2Dw.AwHaWaKYSXNG2dWMHozC', N'Sari', N'user@example.com', N'055555555', 0)
INSERT [dbo].[Users] ([Id], [Password], [Name], [Email], [Phone], [Role]) VALUES (3, N'$2a$11$fhpFHJEUTt7qTE3wigevl.ciqxxNmw.aEJvoAs.VTm1kz78r6Ui26', N'chani', N'ck0548544421@gmail.com', N'054-8544421', 0)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
/****** Object:  Index [IX_Baskets_giftId]    Script Date: 14/05/2026 19:18:54 ******/
CREATE NONCLUSTERED INDEX [IX_Baskets_giftId] ON [dbo].[Baskets]
(
	[giftId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Baskets_userId]    Script Date: 14/05/2026 19:18:54 ******/
CREATE NONCLUSTERED INDEX [IX_Baskets_userId] ON [dbo].[Baskets]
(
	[userId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Categories_Name]    Script Date: 14/05/2026 19:18:54 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Categories_Name] ON [dbo].[Categories]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Doners_Email]    Script Date: 14/05/2026 19:18:54 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Doners_Email] ON [dbo].[Doners]
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Gifts_CategoryId]    Script Date: 14/05/2026 19:18:54 ******/
CREATE NONCLUSTERED INDEX [IX_Gifts_CategoryId] ON [dbo].[Gifts]
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Gifts_DonerId]    Script Date: 14/05/2026 19:18:54 ******/
CREATE NONCLUSTERED INDEX [IX_Gifts_DonerId] ON [dbo].[Gifts]
(
	[DonerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Gifts_Name]    Script Date: 14/05/2026 19:18:54 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Gifts_Name] ON [dbo].[Gifts]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Gifts_WinnerId]    Script Date: 14/05/2026 19:18:54 ******/
CREATE NONCLUSTERED INDEX [IX_Gifts_WinnerId] ON [dbo].[Gifts]
(
	[WinnerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Purchases_CustomerId]    Script Date: 14/05/2026 19:18:54 ******/
CREATE NONCLUSTERED INDEX [IX_Purchases_CustomerId] ON [dbo].[Purchases]
(
	[CustomerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Purchases_GiftId]    Script Date: 14/05/2026 19:18:54 ******/
CREATE NONCLUSTERED INDEX [IX_Purchases_GiftId] ON [dbo].[Purchases]
(
	[GiftId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Users_Email]    Script Date: 14/05/2026 19:18:54 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Users_Email] ON [dbo].[Users]
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Baskets] ADD  DEFAULT ((0)) FOR [userId]
GO
ALTER TABLE [dbo].[Gifts] ADD  DEFAULT (N'') FOR [Description]
GO
ALTER TABLE [dbo].[Gifts] ADD  DEFAULT (N'') FOR [ImagePath]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0)) FOR [Role]
GO
ALTER TABLE [dbo].[Baskets]  WITH CHECK ADD  CONSTRAINT [FK_Baskets_Gifts_giftId] FOREIGN KEY([giftId])
REFERENCES [dbo].[Gifts] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Baskets] CHECK CONSTRAINT [FK_Baskets_Gifts_giftId]
GO
ALTER TABLE [dbo].[Baskets]  WITH CHECK ADD  CONSTRAINT [FK_Baskets_Users_userId] FOREIGN KEY([userId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Baskets] CHECK CONSTRAINT [FK_Baskets_Users_userId]
GO
ALTER TABLE [dbo].[Gifts]  WITH CHECK ADD  CONSTRAINT [FK_Gifts_Categories_CategoryId] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([Id])
GO
ALTER TABLE [dbo].[Gifts] CHECK CONSTRAINT [FK_Gifts_Categories_CategoryId]
GO
ALTER TABLE [dbo].[Gifts]  WITH CHECK ADD  CONSTRAINT [FK_Gifts_Doners_DonerId] FOREIGN KEY([DonerId])
REFERENCES [dbo].[Doners] ([Id])
GO
ALTER TABLE [dbo].[Gifts] CHECK CONSTRAINT [FK_Gifts_Doners_DonerId]
GO
ALTER TABLE [dbo].[Gifts]  WITH CHECK ADD  CONSTRAINT [FK_Gifts_Users_WinnerId] FOREIGN KEY([WinnerId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Gifts] CHECK CONSTRAINT [FK_Gifts_Users_WinnerId]
GO
ALTER TABLE [dbo].[Purchases]  WITH CHECK ADD  CONSTRAINT [FK_Purchases_Gifts_GiftId] FOREIGN KEY([GiftId])
REFERENCES [dbo].[Gifts] ([Id])
GO
ALTER TABLE [dbo].[Purchases] CHECK CONSTRAINT [FK_Purchases_Gifts_GiftId]
GO
ALTER TABLE [dbo].[Purchases]  WITH CHECK ADD  CONSTRAINT [FK_Purchases_Users_CustomerId] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Purchases] CHECK CONSTRAINT [FK_Purchases_Users_CustomerId]
GO
USE [master]
GO
